  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .h-custom {
  height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
  }

  .btn{
    background-color: #e03a3c;
  }

  .img-fluid{
    border-radius: 50%;
    
  }
  
